name: Pull Request Flow

on:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Utils
        run: sudo apt-get install -y bsdmainutils

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - name: Build Book
        run: bundle exec rake book:build

      - name: Validate Book
        run: bundle exec rake book:check

      - name: 'Save Artifacts'
        uses: actions/upload-artifact@v6
        with:
          name: Build Artifacts
          path: |
            book/contributors.txt
            attributes-ru.adoc
            progit.epub
            progit.fb2.zip
            progit.mobi
            progit.pdf
            progit.html
          retention-days: 7
